header {
	background-color:#2863AF;
	color:white;
	padding:1.6em;
}

#username {
	 font-size:1.2em;
	 margin-top:0.125em;
	 padding-left:1.25em;
}

#studiengang {
	font-size:1.1em;
	margin-top: -0.188em;
	padding-left:1.25em;"
}



