.zentriert {text-align:center;}
.standard_heading 		{
							text-align:center;
							margin-top: 2.5em;
						}
.box_top_distance {margin-top:1.563em;}
.box_right_distance	{margin-right:2.5em;}
.font-fix {font-size:1em;}
.btn-fix 	{	
				text-align:center;
				margin-bottom:60px;
			}